<div class="wrapper">
    <div class="container page-container">
        <h3 class="text-center">Painel do Administrador</h3>

        <div class="row card-group">
            <div class="col-md-4" >
              <div class="card card-body" (click)="gerenciarCategorias()">
                <h4><i class="fas fa-th-list"></i> Gerenciar Categorias</h4>
              </div>
            </div>

            <div class="col-md-4" >
              <div class="card card-body" (click)="gerenciarLojas()">
                <h4><i class="fa fa-building" aria-hidden="true"></i> Aprovar Lojas</h4>
              </div>
            </div>

            <div class="col-md-4" >
              <div class="card card-body" (click)="gerenciarUsuarios()">
                <h4><i class="fas fa-users"></i> Gerenciar Usuários</h4>
              </div>
            </div>
        </div>
    </div>
</div>
