.card {
    background-color: #69c4ad;
    cursor: pointer;

    i {
        width: 30px;
    }

    &:hover {
        background-color: #3faa8f;
    }

    &:active {
        background-color: #98ecd7;
    }
}