<div class="wrapper">
    <div class="container page-container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="rounded-circle img-raised" src="../../../assets/img/default-avatar.png" alt="Placeholder">
            </div>
            <div class="col-md-8">
                <h2>{{usuario?.nome}}</h2>
                <p><strong>CPF: </strong> {{usuario?.cpf}}</p>
                <p><strong>E-mail: </strong> {{usuario?.email}}</p>
                <p><strong>Telefone: </strong> {{usuario?.numeTel}}</p>
                <p><strong>Celular: </strong> {{usuario?.numeCelular}}</p>
                <div class="buttons-contact">
                    <button class="btn btn-info btn-link btn-product" (click)="openModalDadosPessoais(dadosPessoais)">
                        <i class="fas fa-pencil-alt"></i> Atualizar dados
                    </button>
                </div>
            </div>
        </div>

        <div class="row">      
            <div class="col-md-12">
                <h4>Meus endereços</h4>
                <button class="btn btn-primary btn-round" type="button" (click)="openModalEndereco(enderecoModal, 'N', null)"><i class="fas fa-plus"></i> Novo endereço</button>
            </div>
        </div>
        <div class="row">      
            <div class="col-md-12">
                <div class="card">
                    <li class="list-group-item" *ngFor="let endereco of usuario?.enderecos">
                        <div class="card-body" >
                            <h4 class="card-title">{{endereco.logradouro}}, {{endereco.numero}}</h4>
                            <p class="card-text">{{endereco.complemento}} {{endereco.bairro}} CEP {{endereco.cep}}</p>
                            <p class="card-text">{{endereco.cidade.nome}} - {{endereco.cidade.estado.nome}}</p>   
                            <button class="btn btn-info btn-round" type="button" (click)="openModalEndereco(enderecoModal, 'E', endereco)"><i class="fas fa-pencil-alt"></i></button>
                            <button class="btn btn-danger btn-round" type="button" (click)="openModalEndereco(removeEndereco, 'R', endereco)"><i class="fas fa-trash"></i></button>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<ng-template #dadosPessoais let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="title title-up">Editar dados pessoais</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="formDadosPessoais">
            <div class="form-group">
                <label for="nome">Nome Completo</label>
                <input formControlName="nome" type="text" class="form-control" id="nome" placeholder="Nome" disabled>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="email">E-mail</label>
                <input formControlName="email" type="email" class="form-control" id="email" placeholder="email@locommerce.com">
                <div *ngIf="formDadosPessoais.controls['email'].invalid && (formDadosPessoais.controls['email'].dirty || formDadosPessoais.controls['email'].touched)">
                  <div *ngIf="formDadosPessoais.controls['email'].errors.required">
                      <p class="text-danger text-left validation-error">Campo obrigatório</p>
                  </div>
  
                  <div *ngIf="formDadosPessoais.controls['email'].errors.email">
                      <p class="text-danger text-left validation-error">E-mail inválido</p>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="cpf">CPF</label>
                <input formControlName="cpf" type="text" class="form-control" id="cpf" placeholder="999.999.999-99" mask="000.000.000-00" disabled>
              </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="telefone">Telefone</label>
                  <input formControlName="numeTel" type="text" class="form-control" id="telefone" placeholder="(XX) XXXX-XXXX" mask="(00) 0000-0000||(00) 00000-0000">
                  <div *ngIf="formDadosPessoais.controls['numeTel'].invalid && (formDadosPessoais.controls['numeTel'].dirty || formDadosPessoais.controls['numeTel'].touched)">
                      <div *ngIf="formDadosPessoais.controls['numeTel'].errors.required">
                          <p class="text-danger text-left validation-error">Campo obrigatório</p>
                      </div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="celular">Celular</label>
                  <input formControlName="numeCelular" type="text" class="form-control" id="celular" placeholder="(XX) XXXX-XXXX" mask="(00) 00000-0000">
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-round" (click)="saveDadosPessoais()"><i class="fas fa-save"></i> Salvar</button>
            <button type="button" class="btn btn-danger btn-round" (click)="closeModal()"><i class="fas fa-times"></i> Fechar</button>
        </div>
    </div>
</ng-template>

<ng-template #enderecoModal let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="title title-up">Endereço</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="formEndereco">
            <div class="form-group">
                <label for="logradouro">Logradouro *</label>
                <input formControlName="logradouro" type="text" class="form-control" id="logradouro" placeholder="Logradouro">
                <div *ngIf="formEndereco.controls['logradouro'].invalid && (formEndereco.controls['logradouro'].dirty || formEndereco.controls['logradouro'].touched)">
                    <div *ngIf="formEndereco.controls['logradouro'].errors.required">
                        <p class="text-danger text-left validation-error">Campo obrigatório</p>
                    </div>
                </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="numero">N° *</label>
                <input formControlName="numero" type="text" class="form-control" id="numero" placeholder="N°">
                <div *ngIf="formEndereco.controls['numero'].invalid && (formEndereco.controls['numero'].dirty || formEndereco.controls['numero'].touched)">
                    <div *ngIf="formEndereco.controls['numero'].errors.required">
                        <p class="text-danger text-left validation-error">Campo obrigatório</p>
                    </div>
                </div>
              </div>
              <div class="form-group col-md-5">
                <label for="complemento">Complemento</label>
                <input formControlName="complemento" type="text" class="form-control" id="complemento" placeholder="Complemento">
              </div>
              <div class="form-group col-md-5">
                <label for="Bairro">Bairro *</label>
                <input formControlName="bairro" type="text" class="form-control" id="Bairro" placeholder="Bairro">
                <div *ngIf="formEndereco.controls['bairro'].invalid && (formEndereco.controls['bairro'].dirty || formEndereco.controls['bairro'].touched)">
                    <div *ngIf="formEndereco.controls['bairro'].errors.required">
                        <p class="text-danger text-left validation-error">Campo obrigatório</p>
                    </div>
                </div>
              </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="cep">CEP *</label>
                  <input formControlName="cep" type="text" class="form-control" id="cep" placeholder="CEP" mask="00000-000">
                  <div *ngIf="formEndereco.controls['cep'].invalid && (formEndereco.controls['cep'].dirty || formEndereco.controls['cep'].touched)">
                    <div *ngIf="formEndereco.controls['cep'].errors.required">
                        <p class="text-danger text-left validation-error">Campo obrigatório</p>
                    </div>
                  </div>
                </div>
              </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="estado">Estado *</label>
                    <select formControlName="idEstado" id="estado" class="form-control" (change)="loadCidades()">
                        <option value="" selected>Selecione</option>
                        <option *ngFor="let estado of estados" [value]="estado.id">{{estado.nome}}</option>
                    </select>
                    <div *ngIf="formEndereco.controls['idEstado'].invalid && (formEndereco.controls['idEstado'].dirty || formEndereco.controls['idEstado'].touched)">
                        <div *ngIf="formEndereco.controls['idEstado'].errors.required">
                            <p class="text-danger text-left validation-error">Campo obrigatório</p>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="cidade">Cidade *</label>
                    <select formControlName="idCidade" id="cidade" class="form-control">
                        <option value="" selected>Selecione</option>
                        <option *ngFor="let cidade of cidades" [value]="cidade.id">{{cidade.nome}}</option>
                    </select>
                    <div *ngIf="formEndereco.controls['idCidade'].invalid && (formEndereco.controls['idCidade'].dirty || formEndereco.controls['idCidade'].touched)">
                        <div *ngIf="formEndereco.controls['idCidade'].errors.required">
                            <p class="text-danger text-left validation-error">Campo obrigatório</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-check-label">Principal *</label>
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label" style="padding-left: 5px;">
                        <input class="form-check-input" type="radio" formControlName="principal" id="chkSim" value="S">
                        <span class="form-check-sign"></span>
                        Sim
                    </label>
                    <label class="form-check-label" style="padding-left: 5px;">
                        <input class="form-check-input" type="radio" formControlName="principal" id="chkNao" value="N">
                        <span class="form-check-sign"></span>
                        Não
                    </label>
                    <div *ngIf="formEndereco.controls['principal'].invalid && (formEndereco.controls['principal'].dirty || formEndereco.controls['principal'].touched)">
                        <div *ngIf="formEndereco.controls['principal'].errors.required">
                            <p class="text-danger text-left validation-error">Campo obrigatório</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-round" (click)="saveEndereco()"><i class="fas fa-save"></i> Salvar</button>
            <button type="button" class="btn btn-danger btn-round" (click)="closeModal()"><i class="fas fa-times"></i> Fechar</button>
        </div>
    </div>
</ng-template>

<ng-template #removeEndereco let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="title title-up">Endereço</h4>
    </div>
    <div class="modal-body">
        <p>Confirma a remoção do endereço selecionado?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-round" (click)="excluirEndereco()"><i class="fas fa-check"></i> Sim</button>
        <button type="button" class="btn btn-danger btn-round" (click)="closeModal()"><i class="fas fa-times"></i> Não</button>
    </div>
</ng-template>
