<div class="wrapper">
    <div class="container page-container">
        <h3 class="text-center">Gerenciar Usuários</h3>

        <table class="table table-striped" >
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Visualizar</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios" >
                <th scope="row">{{usuario.nome}}</th>
                <td>{{usuario.email}}</td>

                <td>
                    <button type="button" (click)="openModal(usuarioModal, 'V', usuario)" class="btn btn-info btn-icon btn-round btn-sm" [disabled]="usuario.email === adminLogado" style="margin: 0">
                      <i class="fas fa-search"></i>
                    </button>
                </td>

                <td>
                  <button type="button" (click)="openModal(usuarioModal, 'E', usuario)" class="btn btn-info btn-icon btn-round btn-sm" [disabled]="usuario.email === adminLogado" style="margin: 0">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                </td>

                <td>                  
                    <button type="button" (click)="openModal(removeUsuario, 'D', usuario)" class="btn btn-danger btn-icon btn-round btn-sm" [disabled]="usuario.email === adminLogado" style="margin: 0">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
              </tr>
            </tbody>
        </table>

        <div class="row">       
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-info btn-round" (click)="retornarParaDashboard()"><i class="fas fa-arrow-left"></i> Voltar ao painel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<ng-template #usuarioModal let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="title title-up" *ngIf="modoCrud === 'V'">Detalhes do Usuário</h4>
        <h4 class="title title-up" *ngIf="modoCrud === 'E'">Atualizar Usuário</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="formUsuario">
            <div class="form-group">
                <label for="nome">Nome Completo</label>
                <input formControlName="nome" type="text" class="form-control" id="nome" placeholder="Nome">
                <div *ngIf="formUsuario.controls['nome'].invalid && (formUsuario.controls['nome'].dirty || formUsuario.controls['nome'].touched)">
                    <div *ngIf="formUsuario.controls['nome'].errors.required">
                        <p class="text-danger text-left validation-error">Campo obrigatório</p>
                    </div>
                    <div *ngIf="formUsuario.controls['nome'].errors.minlength || formUsuario.controls['nome'].errors.maxlength">
                        <p class="text-danger text-left validation-error">O nome completo deve ter entre 5 a 120 caracteres</p>
                    </div>
                </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="email">E-mail</label>
                <input formControlName="email" type="email" class="form-control" id="email" placeholder="email@locommerce.com">
                <div *ngIf="formUsuario.controls['email'].invalid && (formUsuario.controls['email'].dirty || formUsuario.controls['email'].touched)">
                  <div *ngIf="formUsuario.controls['email'].errors.required">
                      <p class="text-danger text-left validation-error">Campo obrigatório</p>
                  </div>
  
                  <div *ngIf="formUsuario.controls['email'].errors.email">
                      <p class="text-danger text-left validation-error">E-mail inválido</p>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="cpf">CPF</label>
                <input formControlName="cpf" type="text" class="form-control" id="cpf" mask="000.000.000-00" placeholder="999.999.999-99">
                <div *ngIf="formUsuario.controls['cpf'].invalid && (formUsuario.controls['cpf'].dirty || formUsuario.controls['cpf'].touched)">
                    <div *ngIf="formUsuario.controls['cpf'].errors.required">
                        <p class="text-danger text-left validation-error">Campo obrigatório</p>
                    </div>

                    <div *ngIf="formUsuario.controls['cpf'].errors.minlength">
                        <p class="text-danger text-left validation-error">Digite o CPF completo</p>
                    </div>
                </div>
              </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="telefone">Telefone</label>
                  <input formControlName="numeTel" type="text" class="form-control" id="telefone" placeholder="(XX) XXXX-XXXX" mask="(00) 0000-0000||(00) 00000-0000">
                  <div *ngIf="formUsuario.controls['numeTel'].invalid && (formUsuario.controls['numeTel'].dirty || formUsuario.controls['numeTel'].touched)">
                      <div *ngIf="formUsuario.controls['numeTel'].errors.required">
                          <p class="text-danger text-left validation-error">Campo obrigatório</p>
                      </div>
                      
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="celular">Celular</label>
                  <input formControlName="numeCelular" type="text" class="form-control" id="celular" placeholder="(XX) XXXX-XXXX" mask="(00) 00000-0000">
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-round" (click)="atualizar()" *ngIf="modoCrud === 'E'"><i class="fas fa-save"></i> Salvar</button>
            <button type="button" class="btn btn-danger btn-round" (click)="closeModal()"><i class="fas fa-times"></i> Fechar</button>
        </div>
    </div>
</ng-template>

<ng-template #removeUsuario let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="title title-up">Desativar Usuário</h4>
    </div>
    <div class="modal-body">
        <p>Tem certeza que deseja desativar o usuario selecionado? Ao desativá-lo, ele terá o acesso revogado à plataforma</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-round" (click)="desativarUsuario()"><i class="fas fa-check"></i> Sim</button>
        <button type="button" class="btn btn-danger btn-round" (click)="closeModal()"><i class="fas fa-times"></i> Não</button>
    </div>
</ng-template>