<div class="wrapper">
    <div class="container page-container">
        <h3 class="text-center">Aprovar Lojas</h3>

        <h5 *ngIf="lojas?.length === 0">Não há loja(s) pendente(s) de aprovação</h5>
        <table class="table table-striped" *ngIf="lojas?.length > 0">
            <thead>
              <tr>
                <th scope="col">Nome da Loja</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Aprovar</th>
                <th scope="col">Reprovar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let loja of lojas">
                <td>{{loja.nomeFantasia}}</td>
                <td>{{loja.cnpj}}</td>

                <td>
                  <button type="button" (click)="openModal(lojaDetails, 'A', loja)" class="btn btn-success btn-icon btn-round btn-sm" style="margin: 0">
                    <i class="fas fa-check"></i>
                  </button>
                </td>

                <td>                  
                    <button type="button" (click)="openModal(lojaDetails, 'R', loja)" class="btn btn-danger btn-icon btn-round btn-sm" style="margin: 0">
                        <i class="fas fa-ban"></i>
                    </button>
                </td>
              </tr>
            </tbody>
        </table>

        <div class="row">       
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-info btn-round" (click)="retornarParaDashboard()"><i class="fas fa-arrow-left"></i> Voltar ao painel</button>
            </div>
        </div>
    </div>
</div>

<ng-template #lojaDetails let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 *ngIf="aprovacao" class="title title-up">Aprovar Loja</h4>
        <h4 *ngIf="!aprovacao" class="title title-up">Reprovar Loja</h4>
    </div>
    <div class="modal-body">
        <p *ngIf="aprovacao">Tem certeza que deseja aprovar a loja abaixo?</p>
        <p *ngIf="!aprovacao">Tem certeza que deseja reprovar a loja abaixo?</p>
        <div class="row">      
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3>{{selectedLoja?.nomeFantasia}}</h3>
                        <p class="card-text"><strong>CNPJ:</strong> {{selectedLoja?.cnpj}}</p>
                        <p class="card-text"><strong>Área de Atuação:</strong> {{selectedLoja?.categoria.descricao}}</p>
                        <h6 class="card-text"><i class="fas fa-map-marker-alt"></i> {{selectedLoja?.endereco.logradouro}}, {{selectedLoja?.endereco.numero}}. {{selectedLoja?.endereco.bairro}} {{selectedLoja?.endereco.cidade.nome}} - {{selectedLoja?.endereco.cidade.estado.nome}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-round" (click)="confirmarOperacao(justificativaReprovacao)"><i class="fas fa-check"></i> Sim</button>
        <button type="button" class="btn btn-danger btn-round" (click)="closeModal()"><i class="fas fa-times"></i> Não</button>
    </div>
</ng-template>

<ng-template #justificativaReprovacao let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="title title-up">Motivo da Reprovação</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="formJustificativa">
            <div class="form-group">
                <label for="justificativaReprovacao">Informe o motivo da reprovação da loja</label>
                <textarea formControlName="justificativaReprovacao" type="text" class="form-control" id="justificativaReprovacao"></textarea>
            </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-round" (click)="reprovarLoja()"><i class="fas fa-check"></i> Confirmar</button>
            <button type="button" class="btn btn-danger btn-round" (click)="closeModal()"><i class="fas fa-ban"></i> Cancelar</button>
        </div>
    </div>
</ng-template>