<div class="wrapper">
    <div class="container page-container">
        <h3 class="text-center">Gerenciar Categorias</h3>

        <div class="row">      
            <div class="col-md-12">
                <button class="btn btn-primary btn-round" type="button" (click)="openModal(categoriaModal, 'N', null)"><i class="fas fa-plus"></i> Nova categoria</button>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col-2">Id</th>
                <th scope="col-8">Descrição</th>
                <th scope="col-2">Editar</th>
                <th scope="col-2">Excluir</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let categoria of categorias">
                <th scope="row">{{categoria.id}}</th>
                <td>{{categoria.descricao}}</td>

                <td>
                  <button type="button" (click)="openModal(categoriaModal, 'E', categoria)" class="btn btn-info btn-icon btn-round btn-sm" style="margin: 0">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                </td>

                <td>                  
                    <button type="button" (click)="openModal(removeCategoria, 'R', categoria)" class="btn btn-danger btn-icon btn-round btn-sm" style="margin: 0">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
              </tr>
            </tbody>
        </table>

        <div class="row">       
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-info btn-round" (click)="retornarParaDashboard()"><i class="fas fa-arrow-left"></i> Voltar ao painel</button>
            </div>
        </div>
    </div>
</div>

<ng-template #categoriaModal let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="title title-up">Categoria</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="formCategoria">
            <div class="form-group">
                <label for="descricaoCategoria">Nome da Categoria</label>
                <input formControlName="descricao" type="text" class="form-control" id="descricaoCategoria" placeholder="Nome da Categoria">
                <div *ngIf="formCategoria.controls['descricao'].invalid && (formCategoria.controls['descricao'].dirty || formCategoria.controls['descricao'].touched)">
                    <div *ngIf="formCategoria.controls['descricao'].errors.required">
                        <p class="text-danger text-left validation-error">Campo obrigatório</p>
                    </div>
                    <div *ngIf="formCategoria.controls['descricao'].errors.minlength || formCategoria.controls['descricao'].errors.maxlength">
                        <p class="text-danger text-left validation-error">A descrição da categoria deve ter entre 5 a 50 caracteres</p>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-round" (click)="saveCategoria()"><i class="fas fa-save"></i> Salvar</button>
            <button type="button" class="btn btn-danger btn-round" (click)="closeModal()"><i class="fas fa-times"></i> Fechar</button>
        </div>
    </div>
</ng-template>

<ng-template #removeCategoria let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="title title-up">Remover categoria</h4>
    </div>
    <div class="modal-body">
        <p>Tem certeza que deseja remover a categoria selecionada?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-round" (click)="excluirCategoria()"><i class="fas fa-check"></i> Sim</button>
        <button type="button" class="btn btn-danger btn-round" (click)="closeModal()"><i class="fas fa-times"></i> Não</button>
    </div>
</ng-template>