.input-group-text {
    background-color: transparent;
    

    i {
        width: 17px;
        color: white;
    }

    .btn {
        margin: 0;
    }
}

.input-group-focus{
    .input-group-text{
        background-color: #ffffff;
        color: #454545;
    }
}

.card {
    background-color: rgba(255, 255, 255, 0.219);
    cursor: pointer;

    i {
        width: 30px;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    &:active {
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.form-check-radio input[type="radio"]:checked + .form-check-sign::after {
    width: 4px;
    height: 4px;
    background-color: #ffffff;
    border-color: #ffffff;
    top: 11px;
    left: 11px;
    opacity: 1;
}