<div class="wrapper">
  <div class="page-header clear-filter" filter-color="green">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/home.jpg'); background-attachment: fixed;">
    </div>
      <div class="container">
          <div class="content-center brand">
              <h1 class="h1-seo">Locommerce</h1>
              <h3>Produtos e lojas da região ao seu alcance!</h3>

              <form [formGroup]="searchForm" (ngSubmit)="searchByName(); $event.preventDefault()">
                <div class="form-check form-check-radio form-check-inline">
                  <label class="form-check-label">
                      <input class="form-check-input" type="radio" formControlName="tipoBusca" id="chkSearchProduct" value="P" checked>
                      <span class="form-check-sign"></span>
                      Produtos
                  </label>
                  <label class="form-check-label">
                      <input class="form-check-input" type="radio" formControlName="tipoBusca" id="chkSearchStore" value="L">
                      <span class="form-check-sign"></span>
                      Lojas
                  </label>
                </div>

                <div class="input-group" [ngClass]="{'input-group-focus':focusSearch===true}">
                  <input type="text" formControlName="searchContent" class="form-control" placeholder="Pesquise uma loja ou um produto desejado..." (focus)="focusSearch=true" (blur)="focusSearch=false" >
  
                  <div class="input-group-append" >
                    <span class="input-group-text">
                      <button type="submit" class="btn btn-primary btn-icon btn-round btn-sm">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
                  </div>
                </div>
                  
                <h6>ou escolha uma das categorias abaixo</h6>
  
                <div class="row card-group">
                  <div *ngFor="let categoria of categorias" class="col-md-3" >
                    <div class="card card-body" (click)="searchSelectedCategoria(categoria.id)">
                      <i class="fa fa-search"></i>
                      <p>{{categoria.descricao}}</p>
                    </div>
                  </div>
                </div>
              </form>

          </div>
      </div>

  </div>
</div>
