<div class="wrapper">
    <div class="container page-container">
        <h3 class="text-center">Meus Pedidos</h3>

        <ul class="list-group list-group-flush">
            <h5 *ngIf="pedidos?.length === 0">Nenhum pedido foi encontrado</h5>
        
            <div class="card" *ngIf="pedidos?.length > 0">
                <li class="list-group-item" *ngFor="let pedido of pedidos">
                  <div class="row">            
                    <div class="col-md-9">
                      <h4 class="card-title">Pedido nº {{pedido.id}}</h4>
                      <p class="card-text">Quantidade de itens: {{pedido.itensPedido.length}}</p>
                      <p class="card-text">Situação: {{pedido.status}}</p>
                      <p class="card-text">Data do pedido: {{pedido.dataPedido}}</p>
                    </div>
            
                    <div class="col-md-3">
                      <button type="button" class="btn btn-primary btn-block btn-round" (click)="viewDetails(pedido)"><i class="fas fa-search"></i> Ver detalhes</button>
                      <button type="button" class="btn btn-primary btn-block btn-round" [disabled]="pedido.status !== 'ENTREGUE'" (click)="openModal(avaliacaoModal, pedido)"><i class="fas fa-star"></i> Avaliar</button>
                    </div>
                  </div>
                </li>
            </div>
        </ul>
    </div>
</div>

<ng-template #avaliacaoModal let-c="close" let-d="dismiss">
  <div class="modal-header justify-content-center">
      <h4 class="title title-up">Avalie o Vendedor</h4>
  </div>
  <div class="modal-body">
      <form>
          <div class="form-group">
              <p>Atribua uma nota geral para o vendedor do seu pedido:</p>
              <ngb-rating [max]="5" [(rate)]="selectedNota" [readonly]="false"></ngb-rating>
          </div>
      </form>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-round" (click)="saveAvaliacao()"><i class="fas fa-save"></i> Salvar</button>
          <button type="button" class="btn btn-danger btn-round" (click)="closeModal()"><i class="fas fa-times"></i> Fechar</button>
      </div>
  </div>
</ng-template>
  