<nav class="navbar navbar-expand-lg bg-primary fixed-top">
    <div class="container">
        <div class="navbar-translate">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/home']" placement="bottom">
                home
            </a>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="authService.isAuthenticated()">
                    <a class="nav-link" [routerLink]="['/profile']">
                        <i class="fas fa-user"></i>
                        <p> Meu perfil</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="authService.isAuthenticated()">
                    <a class="nav-link" [routerLink]="['/wishlists']" >
                        <i class="fas fa-list"></i>
                        <p> Minhas Listas de Desejos</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="authService.isAuthenticated()">
                    <a class="nav-link" [routerLink]="['/myorders']" >
                        <i class="fas fa-list"></i>
                        <p> Meus Pedidos</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="authService.isAdmin()">
                    <a class="nav-link" [routerLink]="['/admin/dashboard']">
                        <i class="fas fa-user"></i>
                        <p> Painel do Administrador</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="authService.isVendedor()">
                    <a class="nav-link" (click)="showProdutosVendedor()" >
                        <i class="fas fa-cubes"></i>
                        <p> Meus Produtos</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="authService.isVendedor()">
                    <a class="nav-link" (click)="showPedidosVendedor()" >
                        <i class="fas fa-cubes"></i>
                        <p> Gerenciar Pedidos</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="authService.isVendedor()">
                    <a class="nav-link" [routerLink]="['/stats']" >
                        <i class="fas fa-chart-bar"></i>
                        <p> Estatísticas da Loja</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/cart']" >
                        <i class="fas fa-shopping-cart"></i>
                        <p> Carrinho</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!authService.isAuthenticated()">
                    <a class="nav-link" [routerLink]="['/login']">
                        <i class="fas fa-sign-in-alt"></i>
                        <p> Login</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="authService.isAuthenticated()">
                    <a class="nav-link" (click)="sair()" style="cursor: pointer;">
                        <i class="fas fa-sign-out-alt"></i>
                        <p> Sair</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
