<div class="page-header" filter-color="green">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="form" >
                    <div class="content">
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusEmail===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-user"></i></span>
                        </div>
                          <input type="text" [(ngModel)]="login.email" name="email" class="form-control" placeholder="E-mail" (focus)="focusEmail=true" (blur)="focusEmail=false" >
                      </div>
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusSenha===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                          <input type="password" [(ngModel)]="login.senha" name="senha" placeholder="Senha" class="form-control" (focus)="focusSenha=true" (blur)="focusSenha=false"/>
                      </div>
                    </div>

                    <div class="footer text-center">
                        <a class="btn btn-primary btn-round btn-lg btn-block" (click)="realizarLogin()">Entrar</a>
                        <button type="button" class="btn btn-info btn-simple btn-round btn-block btn-signup" (click)="cadastrar()">Cadastre-se</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="copyright">
                &copy; 2021
            </div>
        </div>
    </footer>
</div>
