<div class="wrapper">
    <div class="container page-container">
        <h3 class="text-center">Detalhes do Pedido</h3>
    
        <div class="card" >
            <li class="list-group-item" *ngFor="let item of pedido?.itensPedido">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../../../assets/img/product-placeholder.png" alt="Placeholder">
                    </div>
            
                    <div class="col-md-6">
                        <h4 class="card-title">{{item.produto.nome}}</h4>
                        <p class="card-text">{{item.produto.preco | currency}}</p>
                    </div>
            
                    <div class="col-md-3">
                        <h4 class="card-title">Qtd.</h4>
                        <div>
                            <span>{{ item.quantidade }}</span>
                        </div>
                    </div>
                </div>
            </li>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Total: {{total() | currency}}</h3>
                </div>
            </div>
        </div>

        <div class="row">      
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Comprador</h4>
                        <p class="card-text">{{pedido?.comprador.nome}}</p>
                        <p class="card-text">{{pedido?.comprador.email}}</p>   
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Endereço de Entrega</h4>
                        <p class="card-text">{{pedido?.enderecoEntrega.logradouro}}, {{pedido?.enderecoEntrega.numero}}</p>
                        <p class="card-text">{{pedido?.enderecoEntrega.complemento}} {{pedido?.enderecoEntrega.bairro}} CEP {{pedido?.enderecoEntrega.cep}}</p>
                        <p class="card-text">{{pedido?.enderecoEntrega?.cidade.nome}}, {{pedido?.enderecoEntrega?.cidade.estado.nome}}</p>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Forma de Pagamento</h4>
                        <p class="card-text" *ngIf="pedido?.formaPgto=='C'">Cartão de crédito</p>
                        <p class="card-text" *ngIf="pedido?.formaPgto=='B'">Boleto bancário</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>