<ul class="list-group list-group-flush">
    <h5 *ngIf="itens?.length === 0">Nenhum produto encontrado</h5>

    <div class="card" *ngIf="itens?.length > 0">
        <li class="list-group-item" *ngFor="let item of itens">
          <div class="row">
            <div class="col-md-3">
              <img src="../../../assets/img/product-placeholder.png" alt="Placeholder">
            </div>
    
            <div class="col-md-6">
              <h4 class="card-title">{{item.nome}}</h4>
              <p class="card-text">{{item.preco | currency}}</p>  
            </div>
    
            <div class="col-md-3">
              <button type="button" class="btn btn-info btn-block btn-round" (click)="comprarProduto(item)" [disabled]="item?.qtdEstoque == 0"><i class="fas fa-shopping-bag"></i> Comprar</button>
              <button type="button" class="btn btn-primary btn-block btn-round" (click)="visualizar(item)">Visualizar</button>
            </div>
          </div>
    
        </li>
    </div>
</ul>