<div class="wrapper">
    <div class="container page-container">
        <h3 *ngIf="!pedidoId" class="text-center">Conclusão do Pedido</h3>
        <h3 *ngIf="pedidoId" class="text-center">Pedido realizado</h3>
        
        <div *ngIf="!pedidoId">
            <div *ngIf="step === 1">
                <form [formGroup]="formPedidoEndereco" class="form">
                    <h4>Escolha o endereço de entrega:</h4>
        
                    <label *ngFor="let endereco of enderecos">
                        <input type="radio" formControlName="enderecoEntrega" class="card-input-element d-none" value="{{endereco.id}}" (click)="setEnderecoEntrega(endereco)">
                        <span class="card card-body d-flex flex-row justify-content-between align-items-center">
                            <div>
                                <h2>{{endereco.logradouro}}, {{endereco.numero}}</h2>
                                <p>{{endereco.complemento}} {{endereco.bairro}} - CEP: {{endereco.cep}}</p>
                                <p>{{endereco.cidade.nome}}, {{endereco.cidade.estado.nome}}</p>
                            </div>
                        </span>
                    </label>
    
                    <div class="footer text-center">
                        <button type="button" class="btn btn-primary btn-round btn-lg" (click)="avancar()" [disabled]="!formPedidoEndereco.valid">
                            <i class="fas fa-arrow-right"></i>
                            Avançar
                        </button>
                    </div>
                </form>
            </div>
            
            <div *ngIf="step === 2">
                <form [formGroup]="formTipoPagamento" class="form">
                    <h4>Escolha a forma de pagamento:</h4>
                
                    <label>
                        <input type="radio" formControlName="tipoPagamento" class="card-input-element d-none" value="C">
                        <span class="card card-body d-flex flex-row justify-content-between align-items-center">
                            <div>
                                <i class="far fa-credit-card"></i> Cartão de Crédito
                            </div>
                        </span>
                    </label>
                    <label class="mt-3">
                        <input type="radio" formControlName="tipoPagamento" class="card-input-element d-none" value="B">
                        <span class="card card-body d-flex flex-row justify-content-between align-items-center">
                            <div>
                                <i class="fas fa-barcode"></i> Boleto bancário
                            </div>
                        </span>
                    </label>
        
                    <div class="footer text-center">
                        <button type="button" class="btn btn-primary btn-round btn-lg btn-simple btn-back" (click)="voltar()">
                            <i class="fas fa-arrow-left"></i> Voltar
                        </button>
                        <button type="button" class="btn btn-primary btn-round btn-lg" (click)="avancar()" [disabled]="!formTipoPagamento.valid">
                            <i class="fas fa-arrow-right"></i>
                            Avançar
                        </button>
                    </div>        
                </form>
            </div>
    
            <div *ngIf="step === 3">
                <h4>Confirme os dados do pedido:</h4>
    
                <div class="card" *ngIf="total() > 0">
                    <li class="list-group-item" *ngFor="let item of itensCarrinho">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="../../../assets/img/product-placeholder.png" alt="Placeholder">
                            </div>
                    
                            <div class="col-md-6">
                                <h4 class="card-title">{{item.produto.nome}}</h4>
                                <p class="card-text">{{item.produto.preco | currency}}</p>
                                <p>Vendido por: <strong>Vendedor 1</strong></p>
                            </div>
                    
                            <div class="col-md-3">
                                <h4 class="card-title">Qtd.</h4>
                                <div>
                                    <span>{{ item.quantidade }}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Total: {{total() | currency}}</h3>
                        </div>
                    </div>
                </div>
    
                <div class="row">      
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Comprador</h4>
                                <p class="card-text">{{comprador?.nome}}</p>
                                <p class="card-text">{{comprador?.email}}</p>   
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Endereço de Entrega</h4>
                                <p class="card-text">{{endereco?.logradouro}}, {{endereco?.numero}}</p>
                                <p class="card-text">{{endereco?.complemento}} {{endereco?.bairro}} CEP {{endereco?.cep}}</p>
                                <p class="card-text">{{endereco?.cidade.nome}}, {{endereco?.cidade.estado.nome}}</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Forma de Pagamento</h4>
                                <p class="card-text" *ngIf="pedido.formaPgto=='C'">Cartão de crédito</p>
                                <p class="card-text" *ngIf="pedido.formaPgto=='B'">Boleto bancário</p>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="footer text-center">
                    <button type="button" class="btn btn-primary btn-round btn-lg btn-simple btn-back" (click)="voltar()">
                        <i class="fas fa-arrow-left"></i> Voltar
                    </button>
                    <button type="button" class="btn btn-success btn-round btn-lg" (click)="confirmarPedido()" [disabled]="!formTipoPagamento.valid">
                        <i class="fas fa-check"></i>
                        Confirmar Pedido
                    </button>
                </div>
            </div>
        </div>

        <div *ngIf="pedidoId">
            <h3 class="text-success"><i class="far fa-check-circle"></i> O pedido foi registrado com sucesso!</h3>
            <h4>O número do seu pedido é: <strong>{{pedidoId}}</strong></h4>
            
            <p>Verifique o seu email para mais detalhes</p>

            <div class="footer text-center">
                <button type="button" class="btn btn-primary btn-round btn-lg" [routerLink]="['/']"><i class="fas fa-home"></i> Voltar à pagina inicial</button>
            </div>
        
          </div>
        </div>
</div>