<div class="page-header" filter-color="green">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-signup card-plain">
                <div class="header header-primary text-center">
                    <h5>Cadastre-se</h5>
                </div>

                <div class="content" *ngIf="step === 1">
                    <form [formGroup]="formGroupDadosPessoais" class="form" >
                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusNome===true}">
                            <input type="text"  formControlName="nome" class="form-control" placeholder="Nome Completo *" (focus)="focusNome=true" (blur)="focusNome=false" required />
                        </div>
                        <div *ngIf="formGroupDadosPessoais.controls['nome'].invalid && (formGroupDadosPessoais.controls['nome'].dirty || formGroupDadosPessoais.controls['nome'].touched)">
                            <div *ngIf="formGroupDadosPessoais.controls['nome'].errors.required">
                                <p class="text-danger text-left validation-error">Campo obrigatório</p>
                            </div>
                            <div *ngIf="formGroupDadosPessoais.controls['nome'].errors.minlength || formGroupDadosPessoais.controls['nome'].errors.maxlength">
                                <p class="text-danger text-left validation-error">O nome completo deve ter entre 5 a 120 caracteres</p>
                            </div>
                        </div>
    
                        <div class="row">
                          <div class="col-md-6">
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusCPF===true}">
                                <input type="text" formControlName="cpf" placeholder="CPF *" mask="000.000.000-00" class="form-control" (focus)="focusCPF=true" (blur)="focusCPF=false" required/>
                            </div>
                            <div *ngIf="formGroupDadosPessoais.controls['cpf'].invalid && (formGroupDadosPessoais.controls['cpf'].dirty || formGroupDadosPessoais.controls['cpf'].touched)">
                                <div *ngIf="formGroupDadosPessoais.controls['cpf'].errors.required">
                                    <p class="text-danger text-left validation-error">Campo obrigatório</p>
                                </div>

                                <div *ngIf="formGroupDadosPessoais.controls['cpf'].errors.minlength">
                                    <p class="text-danger text-left validation-error">Digite o CPF completo</p>
                                </div>
                            </div>
                          </div>
    
                          <div class="col-md-6">
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusEmail===true}">
                                <input type="text" formControlName="email" placeholder="E-mail *" class="form-control" (focus)="focusEmail=true" (blur)="focusEmail=false" required/>
                            </div>
                            <div *ngIf="formGroupDadosPessoais.controls['email'].invalid && (formGroupDadosPessoais.controls['email'].dirty || formGroupDadosPessoais.controls['email'].touched)">
                                <div *ngIf="formGroupDadosPessoais.controls['email'].errors.required">
                                    <p class="text-danger text-left validation-error">Campo obrigatório</p>
                                </div>

                                <div *ngIf="formGroupDadosPessoais.controls['email'].errors.email">
                                    <p class="text-danger text-left validation-error">E-mail inválido</p>
                                </div>
                            </div>
                          </div>
                        </div>
    
                        <div class="row">
                          <div class="col-md-6">
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusTel===true}">
                                <input type="text" formControlName="numeTel" placeholder="Telefone *" mask="(00) 0000-0000||(00) 00000-0000" class="form-control" (focus)="focusTel=true" (blur)="focusTel=false" required/>
                            </div>
                            <div *ngIf="formGroupDadosPessoais.controls['numeTel'].invalid && (formGroupDadosPessoais.controls['numeTel'].dirty || formGroupDadosPessoais.controls['numeTel'].touched)">
                                <div *ngIf="formGroupDadosPessoais.controls['numeTel'].errors.required">
                                    <p class="text-danger text-left validation-error">Campo obrigatório</p>
                                </div>
                            </div>
                          </div>
    
                          <div class="col-md-6">
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusCel===true}">
                                <input type="text" formControlName="numeCelular" placeholder="Celular" mask="(00) 00000-0000" class="form-control" (focus)="focusCel=true" (blur)="focusCel=false"/>
                            </div>
                          </div>
                        </div>
    
                        <div class="row">
                          <div class="col-md-6">
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusSenha===true}">
                                <input type="password" formControlName="senha" placeholder="Senha *" class="form-control" (focus)="focusSenha=true" (blur)="focusSenha=false" required/>
                            </div>
                            <div *ngIf="formGroupDadosPessoais.controls['senha'].invalid && (formGroupDadosPessoais.controls['senha'].dirty || formGroupDadosPessoais.controls['senha'].touched)">
                                <div *ngIf="formGroupDadosPessoais.controls['senha'].errors.required">
                                    <p class="text-danger text-left validation-error">Campo obrigatório</p>
                                </div>
                            </div>
                          </div>
    
                          <div class="col-md-6">
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusConfirmSenha===true}">
                                <input type="password" formControlName="confirmaSenha" placeholder="Confirmar Senha *" class="form-control" (focus)="focusConfirmSenha=true" (blur)="focusConfirmSenha=false" required/>
                            </div>
                            <div *ngIf="formGroupDadosPessoais.controls['confirmaSenha'].invalid && (formGroupDadosPessoais.controls['confirmaSenha'].dirty || formGroupDadosPessoais.controls['confirmaSenha'].touched)">
                                <div *ngIf="formGroupDadosPessoais.controls['confirmaSenha'].errors.required">
                                    <p class="text-danger text-left validation-error">Campo obrigatório</p>
                                </div>
                            </div>
                          </div>
                        </div>
    
                        <div class="footer text-center">
                            <button type="button" class="btn btn-primary btn-round btn-lg" (click)="avancar()" [disabled]="!formGroupDadosPessoais.valid">
                                <i class="fas fa-arrow-right"></i>
                                Avançar
                            </button>
                        </div>
                    </form>
                </div>

                <div class="content" *ngIf="step === 2">
                    <form [formGroup]="formGroupTipo" class="form" >
                        <h3>Você é...</h3>

                        <label>
                            <input type="radio" formControlName="tipoUsuario" class="card-input-element d-none" value="3">
                            <span class="card card-body d-flex flex-row justify-content-between align-items-center">
                            Cliente
                            </span>
                        </label>
                        <label class="mt-3">
                            <input type="radio" formControlName="tipoUsuario" class="card-input-element d-none" value="2">
                            <span class="card card-body d-flex flex-row justify-content-between align-items-center">
                            Vendedor
                            </span>
                        </label>
    
                        <div class="footer text-center">
                            <button type="button" class="btn btn-primary btn-round btn-lg btn-simple btn-back" (click)="voltar()">
                                <i class="fas fa-arrow-left"></i> Voltar
                            </button>
                            <button type="button" class="btn btn-primary btn-round btn-lg" (click)="avancar()" [disabled]="!formGroupTipo.valid">
                                <i class="fas fa-arrow-right"></i>
                                Avançar
                            </button>
                        </div>
                    </form>
                </div>
                    
                <div class="content" *ngIf="step === 3">
                    <form [formGroup]="formGroupLoja" class="form" >
                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusNomeLoja===true}">
                            <input type="text"  formControlName="nomeFantasia" class="form-control" placeholder="Nome da Loja *" (focus)="focusNomeLoja=true" (blur)="focusNomeLoja=false" >
                        </div>
                        <div *ngIf="formGroupLoja.controls['nomeFantasia'].invalid && (formGroupLoja.controls['nomeFantasia'].dirty || formGroupLoja.controls['nomeFantasia'].touched)">
                            <div *ngIf="formGroupLoja.controls['nomeFantasia'].errors.required">
                                <p class="text-danger text-left validation-error">Campo obrigatório</p>
                            </div>
                            <div *ngIf="formGroupLoja.controls['nomeFantasia'].errors.minlength || formGroupLoja.controls['nomeFantasia'].errors.maxlength">
                                <p class="text-danger text-left validation-error">O nome da loja deve ter entre 5 a 120 caracteres</p>
                            </div>
                        </div>
    
                        <div class="row">
                          <div class="col-md-6">
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusCNPJ===true}">
                                <input type="text" formControlName="cnpj" placeholder="CNPJ *" mask="00.000.000/0000-00" class="form-control" (focus)="focusCNPJ=true" (blur)="focusCNPJ=false"/>
                            </div>
                            <div *ngIf="formGroupLoja.controls['cnpj'].invalid && (formGroupLoja.controls['cnpj'].dirty || formGroupLoja.controls['cnpj'].touched)">
                                <div *ngIf="formGroupLoja.controls['cnpj'].errors.required">
                                    <p class="text-danger text-left validation-error">Campo obrigatório</p>
                                </div>

                                <div *ngIf="formGroupLoja.controls['cnpj'].errors.minlength">
                                    <p class="text-danger text-left validation-error">Digite o CNPJ completo</p>
                                </div>
                            </div>
                          </div>
    
                          <div class="col-md-6">
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusCatLoja===true}">
                                <select formControlName="idCategoria" class="form-control form-control-lg" (focus)="focusCatLoja=true" (blur)="focusCatLoja=false">
                                    <option value="">Área de Atuação</option>
                                    <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.descricao}}</option>
                                </select>
                            </div>
                            <div *ngIf="formGroupLoja.controls['idCategoria'].invalid && (formGroupLoja.controls['idCategoria'].dirty || formGroupLoja.controls['idCategoria'].touched)">
                                <div *ngIf="formGroupLoja.controls['idCategoria'].errors.required">
                                    <p class="text-danger text-left validation-error">Campo obrigatório</p>
                                </div>
                            </div>
                          </div>
                        </div>

                        <div formGroupName="endereco">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusCepLoja===true}">
                                    <input type="text" formControlName="cep" placeholder="CEP *" mask="00000-000" class="form-control" (focus)="focusCepLoja=true" (blur)="focusCepLoja=false"/>
                                </div>
                                <div *ngIf="formGroupLoja.controls['endereco'].controls['cep'].invalid && (formGroupLoja.controls['endereco'].controls['cep'].dirty || formGroupLoja.controls['endereco'].controls['cep'].touched)">
                                    <div *ngIf="formGroupLoja.controls['endereco'].controls['cep'].errors.required">
                                        <p class="text-danger text-left validation-error">Campo obrigatório</p>
                                    </div>
                                </div>
                              </div>
                            </div>
        
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusLogradouroLoja===true}">
                                <input type="text" formControlName="logradouro" class="form-control" placeholder="Logradouro *" (focus)="focusLogradouroLoja=true" (blur)="focusLogradouroLoja=false" >
                            </div>
                            <div *ngIf="formGroupLoja.controls['endereco'].controls['logradouro'].invalid && (formGroupLoja.controls['endereco'].controls['logradouro'].dirty || formGroupLoja.controls['endereco'].controls['logradouro'].touched)">
                                <div *ngIf="formGroupLoja.controls['endereco'].controls['logradouro'].errors.required">
                                    <p class="text-danger text-left validation-error">Campo obrigatório</p>
                                </div>
                            </div>
        
                            <div class="row">
                              <div class="col-md-2">
                                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusNumLoja===true}">
                                    <input type="text" formControlName="numero" placeholder="N° *" class="form-control" (focus)="focusNumLoja=true" (blur)="focusNumLoja=false"/>
                                </div>
                                <div *ngIf="formGroupLoja.controls['endereco'].controls['numero'].invalid && (formGroupLoja.controls['endereco'].controls['numero'].dirty || formGroupLoja.controls['endereco'].controls['numero'].touched)">
                                    <div *ngIf="formGroupLoja.controls['endereco'].controls['numero'].errors.required">
                                        <p class="text-danger text-left validation-error">Campo obrigatório</p>
                                    </div>
                                </div>
                              </div>
        
                              <div class="col-md-5">
                                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusComplementoLoja===true}">
                                    <input type="text" formControlName="complemento" placeholder="Complemento" class="form-control" (focus)="focusComplementoLoja=true" (blur)="focusComplementoLoja=false"/>
                                </div>
                              </div>
        
                              <div class="col-md-5">
                                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusBairroLoja===true}">
                                    <input type="text" formControlName="bairro" placeholder="Bairro *" class="form-control" (focus)="focusBairroLoja=true" (blur)="focusBairroLoja=false"/>
                                </div>
                                <div *ngIf="formGroupLoja.controls['endereco'].controls['bairro'].invalid && (formGroupLoja.controls['endereco'].controls['bairro'].dirty || formGroupLoja.controls['endereco'].controls['bairro'].touched)">
                                    <div *ngIf="formGroupLoja.controls['endereco'].controls['bairro'].errors.required">
                                        <p class="text-danger text-left validation-error">Campo obrigatório</p>
                                    </div>
                                </div>
                              </div>
                            </div>
        
                            <div class="row">
                                <div class="col-md-6">
                                  <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusEstadoLoja===true}">
                                    <select formControlName="idEstado" class="form-control form-control-lg" (focus)="focusEstadoLoja=true" (blur)="focusEstadoLoja=false" (change)="loadCidadesLoja()">
                                        <option value="">Estado</option>
                                        <option *ngFor="let estado of estados" [value]="estado.id">{{estado.nome}}</option>
                                    </select>
                                  </div>
                                  <div *ngIf="formGroupLoja.controls['endereco'].controls['idEstado'].invalid && (formGroupLoja.controls['endereco'].controls['idEstado'].dirty || formGroupLoja.controls['endereco'].controls['idEstado'].touched)">
                                    <div *ngIf="formGroupLoja.controls['endereco'].controls['idEstado'].errors.required">
                                        <p class="text-danger text-left validation-error">Campo obrigatório</p>
                                    </div>
                                  </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusCidadeLoja===true}">
                                      <select formControlName="idCidade" class="form-control form-control-lg" (focus)="focusCidadeLoja=true" (blur)="focusCidadeLoja=false">
                                          <option value="">Cidade</option>
                                          <option *ngFor="let cidade of cidades" [value]="cidade.id">{{cidade.nome}}</option>
                                      </select>
                                    </div>
                                    <div *ngIf="formGroupLoja.controls['endereco'].controls['idCidade'].invalid && (formGroupLoja.controls['endereco'].controls['idCidade'].dirty || formGroupLoja.controls['endereco'].controls['idCidade'].touched)">
                                      <div *ngIf="formGroupLoja.controls['endereco'].controls['idCidade'].errors.required">
                                          <p class="text-danger text-left validation-error">Campo obrigatório</p>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="footer text-center">
                            <button type="button" class="btn btn-primary btn-round btn-lg btn-simple btn-back" (click)="voltar()">
                                <i class="fas fa-arrow-left"></i> Voltar
                            </button>
                            <button type="button" class="btn btn-primary btn-round btn-lg" (click)="concluirCadastro()" [disabled]="!formGroupLoja.valid">
                                <i class="fas fa-check"></i> Concluir cadastro
                            </button>
                        </div>
                    </form>
                </div>

                <div class="content" *ngIf="step === 4">
                    <form class="form" [formGroup]="formGroupEndereco">                        
                        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusLogradouro===true}">
                            <input type="text"  formControlName="logradouro" class="form-control" placeholder="Logradouro *" (focus)="focusLogradouro=true" (blur)="focusLogradouro=false" >
                        </div>
                        <div *ngIf="formGroupEndereco.controls['logradouro'].invalid && (formGroupEndereco.controls['logradouro'].dirty || formGroupEndereco.controls['logradouro'].touched)">
                            <div *ngIf="formGroupEndereco.controls['logradouro'].errors.required">
                                <p class="text-danger text-left validation-error">Campo obrigatório</p>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-2">
                                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusNum===true}">
                                    <input type="text" formControlName="numero" placeholder="N° *" class="form-control" (focus)="focusNum=true" (blur)="focusNum=false"/>
                                </div>
                                <div *ngIf="formGroupEndereco.controls['numero'].invalid && (formGroupEndereco.controls['numero'].dirty || formGroupEndereco.controls['numero'].touched)">
                                    <div *ngIf="formGroupEndereco.controls['numero'].errors.required">
                                        <p class="text-danger text-left validation-error">Campo obrigatório</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-5">
                                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusComplemento===true}">
                                    <input type="text" formControlName="complemento" placeholder="Complemento" class="form-control" (focus)="focusComplemento=true" (blur)="focusComplemento=false"/>
                                </div>
                            </div>
                            
                            <div class="col-md-5">
                                <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusBairro===true}">
                                    <input type="text" formControlName="bairro" placeholder="Bairro *" class="form-control" (focus)="focusBairro=true" (blur)="focusBairro=false"/>
                                </div>
                                <div *ngIf="formGroupEndereco.controls['bairro'].invalid && (formGroupEndereco.controls['bairro'].dirty || formGroupEndereco.controls['bairro'].touched)">
                                    <div *ngIf="formGroupEndereco.controls['bairro'].errors.required">
                                        <p class="text-danger text-left validation-error">Campo obrigatório</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focusCep===true}">
                                <input type="text" formControlName="cep" placeholder="CEP *" mask="00000-000" class="form-control" (focus)="focusCep=true" (blur)="focusCep=false"/>
                            </div>
                            <div *ngIf="formGroupEndereco.controls['cep'].invalid && (formGroupEndereco.controls['cep'].dirty || formGroupEndereco.controls['cep'].touched)">
                                <div *ngIf="formGroupEndereco.controls['cep'].errors.required">
                                    <p class="text-danger text-left validation-error">Campo obrigatório</p>
                                </div>
                            </div>
                          </div>
                        </div>
    
                        <div class="row">    
                            <div class="col-md-6">
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focusEstado===true}">
                                <select formControlName="idEstado" class="form-control form-control-lg" (focus)="focusEstado=true" (blur)="focusEstado=false" (change)="loadCidades()">
                                    <option value="">Estado</option>
                                    <option *ngFor="let estado of estados" [value]="estado.id">{{estado.nome}}</option>
                                </select>
                              </div>
                              <div *ngIf="formGroupEndereco.controls['idEstado'].invalid && (formGroupEndereco.controls['idEstado'].dirty || formGroupEndereco.controls['idEstado'].touched)">
                                <div *ngIf="formGroupEndereco.controls['idEstado'].errors.required">
                                    <p class="text-danger text-left validation-error">Campo obrigatório</p>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                                <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focusCidade===true}">
                                  <select formControlName="idCidade" class="form-control form-control-lg" (focus)="focusCidade=true" (blur)="focusCidade=false">
                                      <option value="">Cidade</option>
                                      <option *ngFor="let cidade of cidades" [value]="cidade.id">{{cidade.nome}}</option>
                                  </select>
                                </div>
                                <div *ngIf="formGroupEndereco.controls['idCidade'].invalid && (formGroupEndereco.controls['idCidade'].dirty || formGroupEndereco.controls['idCidade'].touched)">
                                  <div *ngIf="formGroupEndereco.controls['idCidade'].errors.required">
                                      <p class="text-danger text-left validation-error">Campo obrigatório</p>
                                  </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="footer text-center">
                            <button type="button" class="btn btn-primary btn-round btn-lg btn-simple btn-back" (click)="voltar()">
                                <i class="fas fa-arrow-left"></i> Voltar
                            </button>
                            <button type="button" class="btn btn-primary btn-round btn-lg" (click)="concluirCadastro()" [disabled]="!formGroupEndereco.valid">
                                <i class="fas fa-check"></i> Concluir cadastro
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
