<div class="wrapper">
    <div class="container page-container">
        <h3 class="text-center">Meu carrinho</h3>

        <ul class="list-group list-group-flush">
            <h5 *ngIf="total() <= 0">Não há produto(s) adicionado(s) ao carrinho</h5>

            <div class="card" *ngIf="total() > 0">
                <li class="list-group-item" *ngFor="let item of items">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="../../../assets/img/product-placeholder.png" alt="Placeholder">
                        </div>
                
                        <div class="col-md-6">
                            <h4 class="card-title">{{item.produto.nome}}</h4>
                            <p class="card-text">{{item.produto.preco | currency}}</p>
                            <p>Vendido por: <strong>Vendedor 1</strong></p>
                        </div>
                
                        <div class="col-md-2">
                            <h4 class="card-title">Qtd.</h4>
                            <div style="display: inline-flex;">
                                <button class="btn btn-info btn-link" (click)="diminuirQtd(item.produto)"><i class="fas fa-minus"></i></button>
                                <span>{{ item.quantidade }}</span>
                                <button class="btn btn-info btn-link" (click)="aumentarQtd(item.produto)"><i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                        
                        <div class="col-md-1">
                            <button class="btn btn-danger btn-link" (click)="removerItem(item.produto)"><i class="fas fa-trash-alt"></i> Remover</button>
                        </div>
                    </div>
                </li>
            </div>
        </ul>

        <div class="row">       
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-info btn-round" (click)="retornarParaHome()"><i class="fas fa-arrow-left"></i> Continuar Comprando</button>
                <button type="button" class="btn btn-success btn-round" (click)="fecharPedido()" *ngIf="total() > 0"><i class="fas fa-check"></i> Finalizar Pedido</button>
            </div>
        </div>
    </div>
</div>