<div class="wrapper">
    <div class="container page-container">
        <h3 style="margin-bottom: 5px;">{{produto?.nome}}</h3>
        <h6><i class="fas fa-map-marker-alt"></i> Local</h6>
        
        <div class="row">
            <div class="col-md-6">
                <img src="../../../assets/img/product-placeholder.png" alt="Placeholder" style="width: 60%;">
            </div>
            <div class="col-md-6">
                <h5>Vendido por: <strong>Vendedor</strong></h5>
                <span *ngIf="produto?.qtdEstoque > 0">Em estoque - {{produto?.qtdEstoque}} peça(s)</span>
                <span *ngIf="produto?.qtdEstoque == 0">Indisponível</span>
                
                <h5>{{produto?.preco | currency}}</h5>
                <div class="form-group form-inline">
                    <label for="quantidade" style="padding-right: 10px;">Qtd.</label>
                    <input type="number" [(value)]="quantidade" class="form-control" id="quantidade" [disabled]="produto?.qtdEstoque == 0">
                </div>
                <button type="button" class="btn btn-success btn-round" (click)="comprarProduto(produto)" [disabled]="produto?.qtdEstoque == 0"><i class="fas fa-shopping-bag"></i> Comprar</button>
                <button type="button" class="btn btn-primary btn-round btn-simple" (click)="adicionarAoCarrinho(produto)" [disabled]="produto?.qtdEstoque == 0"><i class="fas fa-cart-arrow-down"></i> Adicionar ao Carrinho</button>
                <button type="button" class="btn btn-primary btn-round btn-simple" (click)="openModal(selectLista)" [disabled]="produto?.qtdEstoque == 0"><i class="fas fa-list-ol"></i> Incluir na Lista de Desejos</button>
            </div>
        </div>

        <h4>Descrição do Produto</h4>
        <div class="row">
            <div class="col-md-12">
                <p>{{produto?.detalhes}}</p>
            </div>
        </div>
    </div>  
</div>

<ng-template #selectLista let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="title title-up">Selecione a lista para guardar o produto</h4>
    </div>
    <div class="modal-body">
        <ul class="list-group list-group-flush">
            <h5 *ngIf="listasDesejos?.length === 0">Você não tem listas de desejo criadas. Crie uma nova lista acessando o Menu > Minhas Listas de Desejos</h5>
        
            <div class="card" *ngIf="listasDesejos?.length > 0">
                <li class="list-group-item" *ngFor="let lista of listasDesejos">
                  <div class="row">

                    <div class="col-md-9">
                        <h4 class="card-title">{{lista.nomeLista}}</h4>
                    </div>
            
                    <div class="col-md-3">
                      <button type="button" class="btn btn-info btn-round" (click)="adicionarItemLista(lista)"><i class="fas fa-plus"></i> Adicionar à lista</button>
                    </div>
                  </div>
            
                </li>
            </div>
        </ul>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-round" (click)="closeModal()"><i class="fas fa-times"></i> Fechar</button>
        </div>
    </div>
</ng-template>
