<div class="wrapper">
    <div class="container page-container">
        <ul class="list-group list-group-flush">
            <h3 class="text-center">Todos os produtos</h3>
            <h5 *ngIf="itens?.length === 0">Nenhum produto encontrado</h5>

            <div class="row" *ngIf="authService.isVendedor() && lojaUsuarioLogado">      
                <div class="col-md-12">
                    <button class="btn btn-primary btn-round" type="button" (click)="openModal(produtoModal, 'N', null)"><i class="fas fa-plus"></i> Novo produto</button>
                </div>
            </div>
            <div class="row card-group">
                <div *ngFor="let item of itens" class="col-md-3" >
                    <div class="card" >
                        <img class="card-img-top" src="../../../assets/img/product-placeholder.png" alt="Imagem do Produto">
                        <div class="card-body">
                          <h4 class="card-title">{{item.nome}}</h4>
                          <span *ngIf="item?.qtdEstoque > 0">Em estoque - {{item?.qtdEstoque}} peça(s)</span>
                          <span *ngIf="item?.qtdEstoque == 0">Indisponível</span>
                          <p class="card-text">{{item.preco | currency}}</p>

                          <div *ngIf="!lojaUsuarioLogado">
                              <button type="button" class="btn btn-info btn-round btn-block" (click)="comprarProduto(item)" [disabled]="item?.qtdEstoque == 0"><i class="fas fa-shopping-bag"></i> Comprar</button>
                          </div>
                            
                          <button type="button" class="btn btn-primary btn-block btn-round btn-simple" (click)="visualizar(item)">Visualizar</button>
                          <div *ngIf="authService.isVendedor() && lojaUsuarioLogado">
                              <button type="button" class="btn btn-info btn-round btn-block" (click)="openModal(produtoModal, 'E', item)"><i class="fas fa-pencil-alt"></i> Editar</button>
                              <button type="button" class="btn btn-danger btn-round btn-block" (click)="openModal(removeProduto, 'R', item)"><i class="fas fa-trash-alt"></i> Remover</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>

<ng-template #produtoModal let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="title title-up">Produto</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="formProduto">
            <div class="form-group">
                <label for="nomeProduto">Nome do Produto *</label>
                <input formControlName="nome" type="text" class="form-control" id="nomeProduto" placeholder="Nome do Produto">
                <div *ngIf="formProduto.controls['nome'].invalid && (formProduto.controls['nome'].dirty || formProduto.controls['nome'].touched)">
                    <div *ngIf="formProduto.controls['nome'].errors.required">
                        <p class="text-danger text-left validation-error">Campo obrigatório</p>
                    </div>
                    <div *ngIf="formProduto.controls['nome'].errors.maxlength">
                        <p class="text-danger text-left validation-error">O nome do produto deve ter no máximo 100 caracteres</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="descricaoProduto">Descrição *</label>
                <textarea formControlName="detalhes" type="text" class="form-control" id="descricaoProduto"></textarea>
                <div *ngIf="formProduto.controls['detalhes'].invalid && (formProduto.controls['detalhes'].dirty || formProduto.controls['detalhes'].touched)">
                    <div *ngIf="formProduto.controls['detalhes'].errors.required">
                        <p class="text-danger text-left validation-error">Campo obrigatório</p>
                    </div>
                    <div *ngIf="formProduto.controls['detalhes'].errors.maxlength">
                        <p class="text-danger text-left validation-error">O nome do produto deve ter no máximo 255 caracteres</p>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                  <label for="qtdEstoque">Quantidade *</label>
                  <input formControlName="qtdEstoque" type="number" class="form-control" id="qtdEstoque" placeholder="Qtd.">
                  <div *ngIf="formProduto.controls['qtdEstoque'].invalid && (formProduto.controls['qtdEstoque'].dirty || formProduto.controls['qtdEstoque'].touched)">
                    <div *ngIf="formProduto.controls['qtdEstoque'].errors.required">
                        <p class="text-danger text-left validation-error">Campo obrigatório</p>
                    </div>
                    <div *ngIf="formProduto.controls['qtdEstoque'].errors.min">
                        <p class="text-danger text-left validation-error">A quantidade deve ser maior do que 1</p>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-5">
                  <label for="preco">Preço *</label>
                  <input formControlName="preco" type="number" class="form-control" id="preco" placeholder="R$ 0,00">
                  <div *ngIf="formProduto.controls['preco'].invalid && (formProduto.controls['preco'].dirty || formProduto.controls['preco'].touched)">
                    <div *ngIf="formProduto.controls['preco'].errors.required">
                        <p class="text-danger text-left validation-error">Campo obrigatório</p>
                    </div>
                    <div *ngIf="formProduto.controls['preco'].errors.min">
                        <p class="text-danger text-left validation-error">O preço deve ser maior do que R$ 1</p>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-5">
                  <label for="categoria">Categoria *</label>
                  <select formControlName="idCategoria" class="form-control">
                    <option value="">Selecione</option>
                    <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.descricao}}</option>
                  </select>
                  <div *ngIf="formProduto.controls['idCategoria'].invalid && (formProduto.controls['idCategoria'].dirty || formProduto.controls['idCategoria'].touched)">
                    <div *ngIf="formProduto.controls['idCategoria'].errors.required">
                        <p class="text-danger text-left validation-error">Campo obrigatório</p>
                    </div>
                  </div>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-round" (click)="saveProduto()"><i class="fas fa-save"></i> Salvar</button>
            <button type="button" class="btn btn-danger btn-round" (click)="closeModal()"><i class="fas fa-times"></i> Fechar</button>
        </div>
    </div>
</ng-template>

<ng-template #removeProduto let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="title title-up">Remover Produto</h4>
    </div>
    <div class="modal-body">
        <p>Tem certeza que deseja remover o produto selecionado?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-round" (click)="excluirProduto()"><i class="fas fa-check"></i> Sim</button>
        <button type="button" class="btn btn-danger btn-round" (click)="closeModal()"><i class="fas fa-times"></i> Não</button>
    </div>
</ng-template>
