<ul class="list-group list-group-flush">
    <h5 *ngIf="itens?.length === 0">Nenhuma loja encontrada</h5>
    
    <div class="card" *ngIf="itens?.length > 0">
        <li class="list-group-item" *ngFor="let item of itens">
          <div class="row">
            <div class="col-md-3">
              <img src="../../../assets/img/store-placeholder.png" alt="Placeholder">
            </div>
    
            <div class="col-md-6">
              <h4 class="card-title">{{item.nomeFantasia}}</h4>
              <p class="card-text">{{item.descricao}}</p>  
            </div>
    
            <div class="col-md-3">
              <button type="button" class="btn btn-primary btn-block btn-round" (click)="visualizar(item)">Visualizar</button>
            </div>
          </div>
    
        </li>
    </div>
</ul>