<div class="wrapper">
    <div class="container page-container">
        <div class="row">
            <div class="col-md-4">
                <img class="rounded-circle img-raised" src="../../../assets/img/store-placeholder.png" alt="Placeholder" style="width: 60%;">
            </div>
            <div class="col-md-8">
                <h2 class="title-store">{{loja?.nomeFantasia}}</h2>
                <h6><i class="fas fa-map-marker-alt"></i> {{loja?.endereco.logradouro}}, {{loja?.endereco.numero}}. {{loja?.endereco.bairro}} {{loja?.endereco.cidade.nome}} - {{loja?.endereco.cidade.estado.nome}}</h6>
                <p>{{loja?.descricao}}</p>
                <div class="buttons-contact">
                    <button class="btn btn-primary btn-icon btn-round btn-simple">
                        <i class="fab fa-whatsapp"></i>
                    </button>
                    <button class="btn btn-primary btn-icon btn-round btn-simple">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                    <button class="btn btn-primary btn-icon btn-round btn-simple">
                        <i class="fab fa-instagram"></i>
                    </button>
                    <button class="btn btn-primary btn-icon btn-round btn-simple">
                        <i class="fas fa-at"></i>
                    </button>

                    <button class="btn btn-info btn-link btn-product" (click)="verProdutos(loja)">
                        <i class="fas fa-search"></i> Ver produtos
                    </button>
                </div>
            </div>
        </div>

        <h4>Em destaque</h4>
        <div class="row">
            <div *ngFor="let item of itens?.slice(0, 3)" class="col-md-4" >
                <div class="card" >
                    <img class="card-img-top" src="../../../assets/img/product-placeholder.png" alt="Imagem do Produto">
                    <div class="card-body">
                      <h4 class="card-title">{{item.nome}}</h4>
                      <span *ngIf="item?.qtdEstoque > 0">Em estoque - {{item?.qtdEstoque}} peça(s)</span>
                      <span *ngIf="item?.qtdEstoque == 0">Indisponível</span>
                      <p class="card-text">{{item.preco | currency}}</p>

                      <div *ngIf="!lojaUsuarioLogado">
                          <button type="button" class="btn btn-info btn-round btn-block" (click)="comprarProduto(item)" [disabled]="item?.qtdEstoque == 0"><i class="fas fa-shopping-bag"></i> Comprar</button>
                      </div>
                        
                      <button type="button" class="btn btn-primary btn-block btn-round btn-simple" (click)="visualizar(item)">Visualizar</button>
                    </div>
                </div>
            </div>
        </div>

        <h4>Mais vendidos</h4>
        <div class="row">

            <div *ngFor="let item of itens?.slice(0, 3)" class="col-md-4" >
                <div class="card" >
                    <img class="card-img-top" src="../../../assets/img/product-placeholder.png" alt="Imagem do Produto">
                    <div class="card-body">
                      <h4 class="card-title">{{item.nome}}</h4>
                      <span *ngIf="item?.qtdEstoque > 0">Em estoque - {{item?.qtdEstoque}} peça(s)</span>
                      <span *ngIf="item?.qtdEstoque == 0">Indisponível</span>
                      <p class="card-text">{{item.preco | currency}}</p>

                      <div *ngIf="!lojaUsuarioLogado">
                          <button type="button" class="btn btn-info btn-round btn-block" (click)="comprarProduto(item)" [disabled]="item?.qtdEstoque == 0"><i class="fas fa-shopping-bag"></i> Comprar</button>
                      </div>
                        
                      <button type="button" class="btn btn-primary btn-block btn-round btn-simple" (click)="visualizar(item)">Visualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
