<div class="wrapper">
    <div class="container page-container">
        <h3 class="text-center">Gerenciar Pedidos</h3>
        <h5 *ngIf="pedidos?.length === 0">Não há pedidos no momento</h5>

        <table class="table table-striped" *ngIf="pedidos?.length > 0">
            <thead>
              <tr>
                <th scope="col">Cód</th>
                <th scope="col">Cliente</th>
                <th scope="col">Situação</th>
                <th scope="col">Visualizar</th>
                <th scope="col">Atualizar</th>
                <th scope="col">Cancelar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pedido of pedidos" >
                <th scope="row">{{pedido.id}}</th>
                <td>{{pedido.comprador.nome}}</td>
                <td>{{pedido.status}}</td>

                <td>
                    <button type="button" (click)="viewDetails(pedido)" class="btn btn-info btn-icon btn-round btn-sm" style="margin: 0">
                      <i class="fas fa-search"></i>
                    </button>
                </td>

                <td>
                  <button type="button" (click)="openModal(statusPedido, 'E', pedido)" class="btn btn-info btn-icon btn-round btn-sm" [disabled]="pedido.status === 'CANCELADO' || pedido.status === 'ENTREGUE'"  style="margin: 0">
                    <i class="fas fa-sync-alt"></i>
                  </button>
                </td>

                <td>                  
                    <button type="button" (click)="openModal(cancelPedido, 'C', pedido)" class="btn btn-danger btn-icon btn-round btn-sm" [disabled]="pedido.status === 'CANCELADO' || pedido.status === 'ENTREGUE'"  style="margin: 0">
                        <i class="fas fa-ban"></i>
                    </button>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #statusPedido let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="title title-up">Atualizar status do Pedido</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="formStatus">
            <div class="form-group">
                <label for="status">Atualizar o status do pedido para:</label>
                <select formControlName="status" id="status" class="form-control">
                    <option value="" selected>Selecione</option>
                    <option value="P">Pendente</option>
                    <option value="A">Aprovado</option>
                    <option value="T">Em trânsito</option>
                    <option value="E">Entregue</option>
                </select>
                <div *ngIf="formStatus.controls['status'].invalid && (formStatus.controls['status'].dirty || formStatus.controls['status'].touched)">
                    <div *ngIf="formStatus.controls['status'].errors.required">
                        <p class="text-danger text-left validation-error">Campo obrigatório</p>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-round" (click)="atualizarStatus()"><i class="fas fa-save"></i> Salvar</button>
            <button type="button" class="btn btn-danger btn-round" (click)="closeModal()"><i class="fas fa-times"></i> Fechar</button>
        </div>
    </div>
</ng-template>

<ng-template #cancelPedido let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="title title-up">Cancelar Pedido</h4>
    </div>
    <div class="modal-body">
        <p>Tem certeza que deseja cancelar o pedido selecionado?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-round" (click)="cancelarPedido()"><i class="fas fa-check"></i> Sim</button>
        <button type="button" class="btn btn-danger btn-round" (click)="closeModal()"><i class="fas fa-times"></i> Não</button>
    </div>
</ng-template>