<div class="wrapper">
    <div class="container page-container">
        <h3 class="text-center">Resultados da busca</h3>

        <app-pesquisa-produto *ngIf="tipoBusca === 'P'"></app-pesquisa-produto>
        <app-pesquisa-loja *ngIf="tipoBusca === 'L'"></app-pesquisa-loja>
        
    </div>

  </div>
  