<div class="wrapper">
    <div class="container page-container">
        <h3 class="text-center">Minhas Listas de Desejos</h3>

        <div class="row">      
            <div class="col-md-12">
                <button class="btn btn-primary btn-round" type="button" (click)="openModal(listaDesejoModal, 'N', null)"><i class="fas fa-plus"></i> Nova lista</button>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <h5 *ngIf="listasDesejos?.length === 0">Não há listas de desejos disponíveis. Clique no botão "Nova lista" para criar sua nova lista de desejos</h5>
        
            <div class="card" *ngIf="listasDesejos?.length > 0">
                <li class="list-group-item" *ngFor="let lista of listasDesejos">
                  <div class="row">

                    <div class="col-md-9">
                      <h4 class="card-title">{{lista.nomeLista}}</h4>
                      <p class="card-text">{{lista.itensDesejo.length}} item(ns) adicionado(s)</p>  
                    </div>
            
                    <div class="col-md-3">
                      <button type="button" class="btn btn-primary btn-block btn-round" (click)="verProdutosLista(itensListaModal, lista)"><i class="fas fa-search"></i> Ver produtos da lista</button>
                      <button type="button" class="btn btn-primary btn-block btn-round" (click)="openModal(listaDesejoModal, 'E', lista)"><i class="fas fa-pencil-alt"></i> Editar</button>
                      <button type="button" class="btn btn-danger btn-block btn-round" (click)="openModal(removeLista, 'D', lista)"><i class="fas fa-trash-alt"></i> Remover</button>
                    </div>
                  </div>
            
                </li>
            </div>
        </ul>
        
    </div>
</div>

<!-- Modals -->
<ng-template #itensListaModal let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="title title-up">Itens da lista {{selectedLista.nomeLista}}</h4>
    </div>
    <div class="modal-body">
        <ul class="list-group list-group-flush">
            <h5 *ngIf="selectedLista?.itensDesejo.length === 0">A lista selecionada está vazia</h5>
        
            <div class="card" *ngIf="selectedLista?.itensDesejo.length > 0">
                <li class="list-group-item" *ngFor="let item of selectedLista?.itensDesejo">
                  <div class="row">

                    <div class="col-md-9">
                        <h4 class="card-title">{{item.produto.nome}}</h4>
                        <p class="card-text">{{item.produto.preco | currency}}</p>  
                    </div>
            
                    <div class="col-md-3">
                      <button type="button" class="btn btn-danger btn-link" (click)="excluirItem(item)"><i class="fas fa-trash-alt"></i> Remover</button>
                    </div>
                  </div>
            
                </li>
            </div>
        </ul>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-round" (click)="closeModal()"><i class="fas fa-times"></i> Fechar</button>
        </div>
    </div>
</ng-template>


<ng-template #listaDesejoModal let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="title title-up">Atualizar Lista de Desejos</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="formListaDesejo">
            <div class="form-group">
                <label for="nomeLista">Nome da Lista</label>
                <input formControlName="nomeLista" type="text" class="form-control" id="nomeLista" placeholder="Nome da Lista">
                <div *ngIf="formListaDesejo.controls['nomeLista'].invalid && (formListaDesejo.controls['nomeLista'].dirty || formListaDesejo.controls['nomeLista'].touched)">
                    <div *ngIf="formListaDesejo.controls['nomeLista'].errors.required">
                        <p class="text-danger text-left validation-error">Campo obrigatório</p>
                    </div>
                    <div *ngIf="formListaDesejo.controls['nomeLista'].errors.minlength || formListaDesejo.controls['nomeLista'].errors.maxlength">
                        <p class="text-danger text-left validation-error">O nome da lista deve ter entre 5 a 50 caracteres</p>
                    </div>
                </div>
            </div>
        </form>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-round" (click)="salvarLista()"><i class="fas fa-save"></i> Salvar</button>
            <button type="button" class="btn btn-danger btn-round" (click)="closeModal()"><i class="fas fa-times"></i> Fechar</button>
        </div>
    </div>
</ng-template>

<ng-template #removeLista let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <h4 class="title title-up">Excluir Lista de Desejos</h4>
    </div>
    <div class="modal-body">
        <p>Tem certeza que deseja excluir a lista de desejos selecionada? Todos os produtos adicionados nela serão removidos após a confirmação</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-round" (click)="excluirLista()"><i class="fas fa-check"></i> Sim</button>
        <button type="button" class="btn btn-danger btn-round" (click)="closeModal()"><i class="fas fa-times"></i> Não</button>
    </div>
</ng-template>