<div class="wrapper">
    <div id="test" class="container page-container">
        <h3 class="text-center">Estatísticas da loja</h3>
        <div id="printDiv">
          <div class="row">
              <div class="col-lg-12">
                <div class="card card-chart">
                  <div class="card-header">
                    <h4 class="card-title text-center">Vendas por mês</h4>
                  </div>
                  <div class="card-body">
                      <div class="chart-area">
                          <canvas baseChart width="200" height="200"
                                  [datasets]="vendasChartData"
                                  [labels]="vendasChartLabels"
                                  [options]="vendasChartOptions"
                                  [colors]="vendasChartColors"
                                  [legend]="vendasChartLegend"
                                  [chartType]="vendasChartType"></canvas>
                        </div>
                  </div>
                </div>
              </div>
          </div>
  
          <div class="row">
              <div class="col-lg-4">
                <div class="card card-chart">
                  <div class="card-header">
                    <h4 class="card-title text-center">Categorias mais vendidas</h4>
                  </div>
                  <div class="card-body">
                      <div class="chart-area">
                          <canvas baseChart
                                  [data]="categoriaChartData"
                                  [labels]="categoriaChartLabels"
                                  [chartType]="categoriaChartType"
                                  [options]="categoriaChartOptions"></canvas>
                        </div>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4">
                <div class="card card-chart">
                  <div class="card-header">
                    <h4 class="card-title text-center">Situação dos Pedidos</h4>
                  </div>
                  <div class="card-body">
                      <div class="chart-area">
                          <canvas baseChart
                                  [datasets]="pedidosChartData"
                                  [labels]="pedidosChartLabels"
                                  [options]="pedidosChartOptions"
                                  [legend]="pedidosChartLegend"
                                  [chartType]="pedidosChartType"></canvas>
                        </div>
                  </div>
                </div>
              </div>
  
              <div class="col-lg-4">
                <div class="card card-chart">
                  <div class="card-header">
                    <h4 class="card-title text-center">Avaliações Recebidas</h4>
                  </div>
                  <div class="card-body">
                      <div class="chart-area">
                          <canvas baseChart
                                  [data]="avaliacoesChartData"
                                  [labels]="avaliacoesChartLabels"
                                  [chartType]="avaliacoesChartType"
                                  [options]="avaliacoesChartOptions"></canvas>
                        </div>
                  </div>
                </div>
              </div>
          </div>

        </div>

        <div class="row">       
          <div class="col-md-12 text-center">
              <button type="button" class="btn btn-info btn-round" (click)="gerarPDF()"><i class="far fa-file-pdf"></i> Exportar Relatório</button>
          </div>
        </div>
    </div>
</div>
